
@{
    ViewBag.Title = "BanChay";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <table align="center" , border="1" style="color:black;background:center;background-color:burlywood">
        <tr>
            <td>
                <h3 style="vertical-align:inherit">   SẢN PHẨM BÁN CHẠY   </h3>
            </td>
        </tr>
    </table>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Ảnh
            </th>
            <th>
               Số lượng bán
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.tensp
                </td>
                <td>
                    @item.mota
                </td>
                <td>
                    <img src="~/Content/images/product-detail/@item.anh" alt="Alternate Text" height="100" width="100" />
                </td>
                <td>
                    @item.sl_ban
                </td>
            </tr>
        }

    </table>
</body>
</html>



