@model OCC.Models.ChiTietHDBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietHDBan</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            So luong
            @*@Html.DisplayNameFor(model => model.soluong)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            Thanh tien
            @*@Html.DisplayNameFor(model => model.thanhtien)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
