@*@{
        ViewBag.Title = "ShoppingCart";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div class="columns-container" ng-controller="cart">
    <div class="container" id="columns">
        <!--page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title">Giỏ hàng</span>
        </h2>
        <!--../page heading-->
        <div class="page-content page-order">

            <div class="heading-counter warning">
                <span class="fa fa-shopping-cart"></span> Giỏ hàng của bạn gồm:
                <span style="font-weight: bold">{{carts.length}}</span> <span> sản phẩm</span>
            </div>
            <div class="order-detail-content">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                        <tr>
                            <th class="cart_product">Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th class="action"><i class="fa fa-trash-o"></i></th>
                        </tr>
                    </thead>
                    <tbody >

                        <tr ng-repeat="c in carts">
                            <th class="cart_product"><img src="~/Content/images/product-detail/{{c.anh}}" /></th>
                            <th>{{c.ten}}</th>
                            <th>{{c.gia}}</th>
                            <th>{{c.sl_mua}}</th>
                            <th>{{c.sl_mua*c.gia|number}}</th>
                            <th class="action" ng-click="remove($index)"><i class="fa fa-trash-o"></i></th>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" rowspan="1"></td>
                            <td colspan="2"><strong>Thành tiền</strong></td>
                            <td colspan="1"  style="font-weight: bold; color: #e84d1c; font-size: 20px;">{{tongTien() | number}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="cart_navigation">
                    <a class="prev-btn" href="/Home/Index">Tiếp tục mua sắm</a>
                    <a class="next-btn" href="/ThanhToan">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/Scripts/js/login.module.js"></script>
    <script src="~/Scripts/js/cart.controller.js"></script>

}